/*****************************/
/* HEADER */
/*****************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #e9fac8;
  position: relative;
}

.logo {
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-link:link,
.logo-link:visited {
  display: inline-block;
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  background-color: #34836a;
  position: relative;
}

/* NAVIGATION */

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #34836a;
}

/* Spesifite arttirdim. nav-cta mutlaka uygulansin. */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #34836a;
  color: #fff;
  padding: 1.2rem 2.4rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #e9fac8;
  box-shadow: inset 0 0 0 3px #34836a;
  color: #34836a;
}

/* Mobile Navigation */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 9000;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
}

/* attribute selector used */
.icon-mobile-nav[name="menu-outline"] {
  display: block;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.stop-scrolling {
  height: 100vh;
  overflow-y: hidden;
}

/* Sticky Navigation */

.sticky .header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  padding: 1.2rem 4.8rem;
}

.sticky .section-hero {
  padding: 14.4rem 0 9.6rem 0;
}

/*****************************/
/* HERO SECTION */
/*****************************/

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #e9fac8;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/*****************************/
/* AS FEATURED IN SECTION */
/*****************************/

.section-featured {
  padding: 6.4rem 0;
}

.heading-featured {
  text-align: center;
  font-size: 1.4rem;
  color: #888;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*****************************/
/* SAMPLE MEALS SECTION */
/*****************************/
.section-meals {
  padding: 9.6rem 0;
  background-color: #fff3bf;
}

.meal {
  text-align: center;
}

.meal-img-box {
  /* text-align: center; */
  padding: 0 4.8rem;
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  border-radius: 100px;
  margin-bottom: 1.2rem;
}

.tag--pizza {
  background-color: #fd7e14;
}

.tag--pasta {
  background-color: #63e6be;
}

.tag--salad {
  background-color: #51cf66;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-ingredients-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-ingredient {
  font-size: 2rem;
}

/*****************************/
/* FEATURES SECTION */
/*****************************/
.section-features {
  padding: 9.6rem 0;
}
.grid-feature {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
}
.feature-icon {
  font-size: 4.8rem;
  margin-bottom: 3.2rem;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
  line-height: 1.4;
}
.feature-description {
  font-size: 2rem;
  line-height: 1.6;
}

/*****************************/
/* TESTIMONIALS SECTION */
/*****************************/
.section-testimonials {
  padding: 9.6rem 0;
  background-color: #e9fac8;
}

/* SLIDER */

.slider {
  max-width: 120rem;
  margin: 0 3.2rem;
  margin: 0 auto;
  height: 35rem;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 35rem;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.slider-btn {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  opacity: 0.7;
  cursor: pointer;
}

.slider-btn:hover .testimonial-icon {
  opacity: 1;
}

.slider-btn--left {
  left: 4%;
  transform: translate(-50%, -50%);
}

.slider-btn--right {
  right: 4%;
  transform: translate(50%, -50%);
}

/* DOT FUNCTIONALITY IF NEEDED*/

/* .dots {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.6rem;
}

.dot {
  border: none;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #b9b9b9;
  border-radius: 50%;
  margin-right: 2rem;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s;
}

.dot:last-child {
  margin: 0;
}

.dot--active {
  background-color: #888;
  opacity: 1;
} */

/* TESTIMONIAL */

.testimonial {
  width: 80%;
  position: relative;
}

.testimonial-text {
  font-size: 2.4rem;
  line-height: 1.8;
  margin-bottom: 3.2rem;
  text-align: center;
}

.testimonial-author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.testimonial-img {
  border-radius: 100%;
  width: 6.4rem;
  height: 6.4rem;
}

.testimonial-name {
  font-size: 2rem;
}

.slider-icon {
  font-size: 6.4rem;
  color: #444;
  opacity: 0.5;
  transition: all 0.3s;
}

/*****************************/
/* GALLERY SECTION */
/*****************************/

.section-gallery {
  padding: 9.6rem 3.2rem;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 15vw);
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item--1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.gallery-item--2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.gallery-item--3 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.gallery-item--4 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.gallery-item--5 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.gallery-item--6 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.gallery-item--7 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.gallery-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  transition: all 0.5s;
}
.gallery-img:hover {
  transform: scale(1.2);
}

/*****************************/
/* RESERVATION SECTION */
/*****************************/

.section-reservation {
  padding: 9.6rem 0 12.8rem 0;
  background-color: #e9fac8;
  /* root margin for sticky navigation */
  scroll-margin: 96px;
}

.reserve {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4.8rem;
  /* background-color: #fff; */
  background-color: #fffef9;
  padding: 4.8rem;
}

.reserve-img {
  display: block;
  width: 100%;
}

.reserve-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.reserve-form label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.reserve-form input,
.reserve-form select {
  font-size: 1.8rem;
  width: 100%;
  padding: 1.2rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid #eee;
}

.reserve-form input::placeholder {
  color: #aaa;
}

.btn-form {
  display: inline-block;
  margin-top: 2.4rem;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #d2e1b4;
  color: #444;
  width: 100%;
  padding: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-form:hover {
  background-color: #bac8a0;
}

/*****************************/
/* FOOTER */
/*****************************/
.map {
  width: 100%;
}

.grid--footer {
  padding: 9.6rem 3.2rem 12.8rem 3.2rem;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr 1fr;
  gap: 8rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo-link {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-logo {
  height: 8rem;
  cursor: pointer;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.hours {
  font-size: 1.6rem;
  line-height: 1.6;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/***********************************************************/
/* MENU PAGE STYLES */
/***********************************************************/

.menupage .header {
  background-color: #e9fac8;
}

.section-menu {
  padding: 9.6rem 0;
  background-color: #fff;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}
/* Menu slider tab */
.menu-tabs {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  gap: 8rem;
}

.tab {
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

.tab--active .tab-dot {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.tab-icon {
  font-size: 6.4rem;
  margin-bottom: 0.8rem;
}

.tab-name {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
  margin-bottom: 1.6rem;
}

.tab-dot {
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
  border: none;
  border-radius: 50%;
  background-color: #333;
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* Menu slider */

.menu-sliders-container {
  border-top: 1px solid #e5e5e5;
  padding-top: 4.8rem;
}

.menu-slider {
  height: 55em;
  position: relative;
  overflow: hidden;
  display: none;
}

.menu-slider--active {
  display: block;
}

.menu-slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 15rem);
  row-gap: 3.2rem;
  column-gap: 6.4rem;
  padding: 0 3.6rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-out;
}

/* Slider dots styles */
.dots-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: absolute;
  top: 50%;
  left: 98%;
  transform: translate(-50%, -100%);
}

.dot {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  transition: all 0.3s;
}

.dot--active {
  background-color: #767676;
  background-color: #444;
}

/* Menu item styles */

.menu-item {
  display: flex;
}

.menu-item-text {
  padding: 2.4rem 1.6rem;
}

.menu-item-img {
  width: 17rem;
  height: 15rem;
  object-fit: cover;
}

.menu-item-name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.menu-item-desc {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* Other styles */

.menupage .section-reservation {
  background-color: #fff;
}
.menupage .reserve {
  background-color: #e9fac8;
}
/***********************************************************/
/* GALLERY PAGE STYLES */
/***********************************************************/

.gallerypage .section-gallery {
  padding: 9.6rem 0;
}
.gallerypage .gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}
/* .gallerypage .gallery-item {}
.gallerypage .gallery-img {} */

/***********************************************************/
/* ABOUT PAGE STYLES */
/***********************************************************/
.section-about {
  padding: 9.6rem 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 9.6rem;
}

.about-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 9.6rem;
}
.about-img-box {
  width: 100%;
  height: 100%;
}
.about-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-text-box {
  padding: 1.6rem 0;
}
.about-heading {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  line-height: 1.5;
}
.about-text {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.section-banner {
  padding: 19.2rem 0;
  background-image: linear-gradient(
      rgba(233, 250, 200, 0.5),
      rgba(233, 250, 200, 0.5)
    ),
    url("../img/z9.avif");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  text-align: center;
}
.banner-heading {
  font-size: 5.2rem;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  line-height: 1.2;
  color: #444;
}

/***********************************************************/
/* CONTACT PAGE STYLES */
/***********************************************************/

.section-contact {
  padding: 9.6rem 0;
}

.contact-info {
  font-size: 1.8rem;
  margin-bottom: 6.4rem;
}

.contact {
  display: flex;
  justify-content: flex-start;
}
.contact-form-box {
  flex: 0 0 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.contact-form label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.contact-form input,
.contact-form select,
textarea {
  font-size: 1.8rem;
  width: 100%;
  padding: 1.2rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid #eee;
}

.contact-form textarea {
  height: 20rem;
}

.contact-form input::placeholder {
  color: #aaa;
}

/***********************************************************/
/* FRANCHISING PAGE STYLES */
/***********************************************************/
.section-franchising {
  padding: 9.6rem 0;
}

.franchising-text-box {
  margin-bottom: 9.6rem;
}

.franchising-text {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.franchising-list {
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}

.franchising-list-item {
  font-size: 2rem;
  line-height: 1.8;
}

.franchising-form-box {
  display: flex;
  justify-content: flex-start;
}

.franchising-form {
  flex: 0 0 50%;
}

.franchising-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.franchising-form label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.franchising-form input,
.franchising-form select,
textarea {
  font-size: 1.8rem;
  width: 100%;
  padding: 1.2rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid #eee;
}

.franchising-form textarea {
  height: 10rem;
}

.franchising-form input::placeholder {
  color: #aaa;
}
.franchising-location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.kvkk-box {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}
.kvkk-box label {
  display: inline;
}
.kvkk-box input {
  width: auto;
}
.notlar-box textarea {
  height: 20rem;
}

/***********************************************************/
/* CAREER PAGE STYLES */
/***********************************************************/

.section-career {
  padding: 9.6rem 0;
}

.career-info {
  font-size: 1.8rem;
  margin-bottom: 6.4rem;
}

.career-form-box {
  display: flex;
  justify-content: flex-start;
}

.career-form {
  flex: 0 0 50%;
}

.career-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.career-form label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.career-form input,
.career-form select,
textarea {
  font-size: 1.8rem;
  width: 100%;
  padding: 1.2rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid #eee;
}

.career-form textarea {
  height: 20rem;
}
.career-form input::placeholder {
  color: #aaa;
}
.fileinput-box input {
  border: none;
}

/***********************************************************/
/* FAQ PAGE STYLES */
/***********************************************************/

.section-faq {
  padding: 9.6rem 0;
}

.faq {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0 1.6rem;
}

.faq-item {
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
  align-items: center;
}

.faq-item-number,
.faq-item-question {
  font-size: 2.4rem;
  font-weight: 500;
}

.faq-item-number {
  color: #ced4da;
}

.faq-icon {
  font-size: 2.4rem;
  stroke: #666;
  cursor: pointer;
}

.faq-hidden-box {
  grid-column: 2;
  display: none;
}

.faq-answer {
  font-size: 2rem;
  line-height: 1.6;
}

/* OPEN STATE */
.faq-item--open {
  border-top: 4px solid #555;
}

.faq-item--open .faq-hidden-box {
  display: block;
}

.faq-item--open .faq-item-number,
.faq-item--open .faq-item-question {
  color: #555;
}

/***********************************************************/
/* PRIVACY PAGE STYLES */
/***********************************************************/

.privacypage main {
  max-width: 130rem;
  margin: 10rem auto;
  padding: 0 3.2rem;
}
